.App-header {
  background-color: rgb(146, 146, 146);
  /* font-size: calc(10px + 2vmin); */
  color: white;
  width: 90%;
  position: fixed;
  right: 0;
  z-index: 10;
}

.App-header h1{
  text-align: center;
  margin: 0;
  font-size: 4em;
}

.App-header p{
  text-align: right;
  margin: 0;
  font-size: 1.1em;
  font-weight: 800;
}

.navbar {
  background-color: rgb(146, 146, 146);
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 10%;
  height: 100%;
  position: fixed;
  font-size: 1.25em;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: white;
}

main {
  width: 90%;
  position: absolute;
  right: 0;
  top: 97px;  

}

#contribute-form, #login, #user-container, form, #splash {
  display: flex;
  align-items: center;  
  flex-direction: column;
}

p {
  text-align: center;
}

#splash h4 {
  font-size: 1.5em;
  margin: 7px 0px;
}

main>img {
  width: 100%;
  /* border-radius: 50px; */
  opacity: .5;
  z-index: -1;
  position: fixed;
}

#splash li {
  list-style-type: none;
}

.puzzle-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  border-radius: 20px;
  margin-bottom: 5px;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: white;
}

.card img, img {
  width: 95%;
  height: auto;
}

.card h2 {
  margin-bottom: 0;
}

.card p {
  margin: 0 0 5px;
}

.input-text {
  background-color: rgb(146, 146, 146);
  border: 0;
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  color: #fff;
}

.input-text::placeholder {
  color: rgb(255, 255, 255, .5)
}

.input-text:focus, .btn:focus {
  outline: none;
}

.btn, button {
  height: 35px;
  width: 100%;
  border-radius: 5px;
  border: 0;
  background-color: rgb(202, 156, 24);
  cursor: pointer;
  font-weight: bolder;
  color: #fff;
  font-size: 18px;
  margin-top: 1px;
}

button:disabled {
  background-color: rgb(219, 193, 121);
  cursor: auto;
}

#logout-btn {
  width: auto;
  position: absolute;
  right: 0;
  top: 0;
}

#delete-btn {
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: rgb(202, 80, 24);

}